.titulo_pdf {
    background-color: #52bf66;
    color:white;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cuadro_pdf {
    background-color: #dbf4b9;
    color:#52BF66;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.td_pdf {
    background-color: #dbf4b9;
    color:#52BF66;
    border-radius: 15px;
    padding-left: 15px;
    margin: 5px;
    min-height: 20px;
}

.tr_pdf {
    background-color: #52bf66;
    color:#ffffff;
    border-radius: 15px;
    padding-left: 15px;
    margin: 5px;
    min-height: 20px;
}

.cabecera{
    background-color: white;
    color: #1473a5;
    font-weight: bold;
    padding-left: 15px;
}

.input_field {
    min-width: 0;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    padding: 1px;
    text-align: center;
}

.parrafo_contrato{
    text-align: justify; 
    font-size:13px;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
}

.fade{
    z-index: -1;
}

.tabla_info {
    background-color: #dbf4b9;
    border-radius: 15px;
    padding: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}